/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Neeta's Styles */

html {
    font-size: 16px;
    margin: 20px;
    background: rgb(86, 119, 67);
}

body {
    line-height: 1.25rem;;
    max-width: 580px;
    margin: 0 auto;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1 {
    font-size: 2rem;
    line-height: 2.15rem;
    margin-bottom: 20px;
}

.welcome h1 {
    margin-bottom: 0;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

i {
    font-style: italic;
}

code {
    font-family: monospace;
    font-size: 0.9rem;;
}

img, video {
    max-width: 100%;
}

.stack {
    padding-top: 1em;
}

.post {
    border: 10px solid white;
    background: rgb(120, 180, 86);
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.post:last-child {
    margin-bottom: 40px;
}

a, a:visited {
    color:ghostwhite;
}

a:hover {
    color:rgb(86, 119, 67);
}

figcaption {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1rem;
    text-align: left;
}

p.back-to-top {
    margin-top: 0;
}

.back-to-top {
    position: relative;
    margin: 0 auto;
    display: inline-block;
}

.tab {
    padding-left: 3em;
    padding-right: 3em;
}

@media screen and (max-width:665px) {
    .post:last-child {
        margin-bottom: 0;
    }
    .post {
        padding: 20px;
        margin-top: 0;
    }
    h3 {
        margin-bottom: 20px;
    }
}